<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.market_backend.Mapper.CommentReplyMapper">
    <resultMap id="BaseResultMap" type="org.example.market_backend.Entity.CommentReply">
            <id property="id" column="id" />
            <result property="productId" column="product_id" />
            <result property="content" column="content" />
            <result property="fromUserId" column="from_user_id" />
            <result property="fromUserName" column="from_user_name" />
            <result property="fromUserAvatar" column="from_user_avatar" />
            <result property="createTime" column="create_time" />
            <result property="type" column="type" />
            <result property="toUserId" column="to_user_id" />
            <result property="toUserName" column="to_user_name" />
            <result property="toUserAvatar" column="to_user_avatar" />
            <result property="replyId" column="reply_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,content,from_user_id,from_user_name,from_user_avatar,
        create_time,type,to_user_id,to_user_name,to_user_avatar,
        reply_id
    </sql>
</mapper> 